algoliasearch
algoliasearch
appdirs
BeautifulSoup4
cloudscraper
dnspython
git+https://github.com/madeline-bot/NAFF
kbbi
orjson
psutil
pymongo
python-dateutil
python-dotenv
requests-toolbelt
samp-client
sentry-sdk
speedtest-cli
wget
