algoliasearch
cloudscraper
dnspython
git+https://github.com/NAFTeam/NAFF@dev
google-cloud-vision
orjson
psutil
pymongo
python-dateutil
python-dotenv
requests-toolbelt
samp-client
sentry-sdk
speedtest-cli
tabulate
wget
